body {
  font: 15px/1.73 "CenturyGothic", sans-serif;
  min-width: 320px;
  position: relative;
  overflow-x: hidden; }

img {
  max-width: 100%; }

.hidden {
  display: none; }

.side-bar {
  background-color: #262624;
  position: fixed;
  left: 0;
  width: 200px;
  height: 100vh;
  padding-top: 45px; }
  .side-bar .top {
    padding: 30px; }

.title {
  color: green; }
